/combined
/IPDbrain_ds
/venv
/DTFD-MIL/IPD_Brain-main/venv
/venv311
*.pt
/CLAM-master/datasets
/CLAM-master/heatmaps
/DTFD-MIL/datasets
/DTFD-MIL/IPD-Brain-main/attention_maps
/DTFD-MIL/IPD-Brain-main/datasets
/DTFD-MIL/IPD-Brain-main/outputs


